//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
@commonbrushtail:registry=https://registry.npmjs.org/
//npm.pkg.github.com/:_authToken=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
@commonbrushtail:registry=https://npm.pkg.github.com
always-auth=true